<div>
  <!-- 本リリース時にuserのアイコンを表示できるように実装 -->
	<div >
		<div>
		  <%= comment.user.name %>
		</div>
    <div>
		  <%= simple_format(comment.body)%>
    </div>
    <% if current_user.own?(comment) %>
		  <div class="text-end">
        <!-- 編集機能は本リリース時に実装" -->
			  <%= link_to"削除", comment_path(comment), class: "text-black bg-red rounded-md pt-2 pb-1 pl-2 pr-1" ,data: { turbo_method: :delete, turbo_confirm: '削除しますか？' } %>
      </div>
		<% end %>
		  
	</div>
</div>
